.container_about {
  display: flex;
  padding-block: 60px;
  align-items: center;
}

.mobileContainer_about {
  padding-block: 60px;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  margin-left: 40px
}

.title {
  color: var(--text-primary-color);
  padding-bottom: 20px;
}

.description {
  color: var(--text-primary-color);
  font-size: 18px;
  width: 80%;
  text-align: justify;
}

.leftImage {
  height: var(--about-image-height);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.rightImage {
  height: 330px;
  margin-right: var(--default-margin-left);
}

.rightImageMobile {
  height: 230px;
  display: flex;
  justify-self: center;
  margin-top: 20px;
}

.socialMedia {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding-top: 50px;
  align-items: center;
}