.container_about {
  display: flex;
  padding-inline: 50px;
  padding-block: 60px;
  align-items: center;
  display: flex;
  gap: 52px;
}

.content {
  display: flex;
  flex-direction: column;
}

.container_about:nth-child(4) {
  flex-direction: row-reverse;
}

.title {
  color: var(--text-primary-color);
  padding-bottom: 20px;
}

.description {
  color: var(--text-primary-color);
  font-size: 18px;
  width: 80%;
}

.image {
  border-radius: 10px;
}

.container_socialLinks {
  padding-top: 50px;
}

.socialMedia {
  display: flex;
  gap: 50px;
  align-items: center;
  list-style-type: none;
}

.galleryContainer {
  margin-left: 40px;
}
