.container {
  background-color: var(--background-color);
}

.content {
  padding-left: var(--default-margin-left);
  padding-bottom: 60px;
}

.contentMobile {
  padding-left: 20px;
  padding-bottom: 60px;
}

.infoContainer {
  display: flex;
}

.imageContainer {
  position: relative;
}

.cover {
  height: 507px;
  width: 338px;
  border-radius: 10px;
  margin-top: -70px;
  object-fit: cover;
}

.coverMobile {
  height: 407px;
  width: 272px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: -70px;
}

.signature {
  position: absolute;
  height: 180px;
  width: 180px;
  left: 0;
  top: 260px;
}

.signatureMobile {
  position: absolute;
  height: 150px;
  width: 150px;
  right: 20px;
  bottom: 0px;
}

.textContainer {
  margin: 40px;
  overflow: auto;
  width: 100%;
}

.title {
  color: var(--text-primary-color);
  font-size: 35px;
}

.subtitle {
  color: var(--text-primary-color);
  font-size: 20px;
  font-style: italic;
  margin-top: 12px;
  margin-bottom: 4px;
}

.text {
  color: var(--text-primary-color);
  max-width: 90%;
}

.galleryContainer {
  margin-bottom: 40px;
  margin-top: 20px;
  margin-left: var(--negative-margin-left);
}

.linksContainer {
  margin-top: 40px;
}

.linkText {
  color: var(--text-primary-color);
  font-size: 18px;
  font-style: italic;
  margin-right: 30px;
}