.container {
  background-color: var(--background-color);
}

.header {
  padding-block: 50px;
  padding-inline: 60px;
  display: flex;
}

.icon {
  color: var(--text-primary-color);
  margin-right: 20px;
}

.title {
  color: var(--text-primary-color);
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  padding-bottom: 80px;
}

.thumb {
  width: 100%;
  height: auto;
  margin-bottom: -10px;
}