.content {
  padding-left: 60px;
}

.firstCarousel {
  margin-top: -100px;
  margin-bottom: 40px;
}

.carousel {
  margin-bottom: 40px;
}

.memberCarousel {
  display: flex;
  margin-bottom: 55px;
  gap: 30px;
}