.container {
  display: flex;
  justify-content: space-between;
}

.leftContent {
  display: flex;
}

.cover {
  width: 280px;
  height: 280px;
  margin-right: 50px;
  border-radius: 10px;
}

.coverMobile {
  width: 200px;
  height: 200px;
  margin-right: 15px;
  border-radius: 10px;
}

.albumInfoTitle {
  color: var(--text-primary-color);
  font-size: 24px;
  font-weight: bold;
}

.albumInfoSubtitle {
  color: var(--text-primary-color);
  font-size: 32px;
  margin-top: -10px;
}

.tracksTitle {
  margin-top: 10px;
  color: var(--text-primary-color);
}

.tracksContainer {
  column-count: 3;
  column-gap: 20px;
  margin-left: 10px;
}

.tracksContainerMobile {
  column-count: 2;
  column-gap: 20px;
  margin-top: 20px;
}

.tracksText {
  color: var(--text-primary-color);
  break-inside: avoid;
}

.socialsButons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  margin-top: 40px;
}

.socialsButonsMobile {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}