.text {
  color: var(--text-primary-color);
}

.image {
  height: 380px;
  border-radius: 5px;
}

.emblaViewport {
  position: relative;
  overflow: hidden;
}

.emblaContainer {
  display: flex;
}

.emblaSlide {
  padding-right: 80px;
}

.slideButtonContainer {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}

.slideButton {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  height: 380px;
  align-items: center;
  padding-inline: 10px;
  pointer-events: all;
}

.slideButtonIcon {
  color: var(--text-primary-color);
  font-size: x-large;
}