.container {
  background-color: var(--text-primary-color);
  padding-left: var(--default-margin-left);
  padding-top: 40px;
  padding-bottom: 95px;
  display: flex;
  align-items: center;
}

.icon {
  color: var(--text-secondary-color);
  margin-right: 20px;
}

.text {
  color: var(--text-secondary-color);
}