.background {
  background-color: #000;
  padding: 35px 60px;
}

.topContent {
  margin-bottom: 30px;
  display: flex;
}

.title {
  color: #FFF;
  font-size: 36;
  font-weight: bold;
  margin-bottom: 10px;
}

.description {
  color: #FFF;
  font-weight: 200;
}

.socialContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.flagButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-left: 10px;
}

.socialText {
  color: #FFF;
  font-weight: 700;
}

.socialIcon {
  color: #FFF;
  font-size: 25px;
  margin-top: 10px;
  margin-left: 10px;
}

.bottomContent {
  margin-top: 30px;
  color: #FFF;
  text-align: center;
}