.background {
  background-color: #000;
  padding-top: 30px;
  padding-inline: var(--default-margin-left)
}

.topContent {
  margin-bottom: 30px;
  display: flex;
}

.title {
  color: #FFF;
  font-size: 36;
  font-weight: bold;
  margin-bottom: 10px;
}

.description {
  color: #FFF;
  font-weight: 200;
}

.socialContainer {
  display: flex;
  flex-direction: column;
  align-items: var(--footer-icons-align);
}

.socialText {
  color: #FFF;
  font-weight: 700;
}

.socialIcon {
  color: #FFF;
  font-size: 25px;
  margin-top: 10px;
  margin-left: 10px;
}

.bottomContent {
  margin-top: 30px;
  color: #FFF;
  text-align: center;
}

.languageContainer {
  background-color: #000;
  padding-block: 30px;
  padding-inline: var(--default-margin-left);
  display: flex;
  gap: 10px;
}

.languageButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.languageText {
  color: #808080;
  font-weight: 500;
}

.languageTextSelected {
  color: #FFF;
  font-weight: 500;
}

.languageText:hover {
  text-decoration: underline;
}

.languageTextSelected:hover {
  text-decoration: underline;
}

.verticalDivider {
  background-color: #808080;
  height: 20px;
  width: 1px;
  margin: 0px 10px;
}
