.container {
  padding-left: var(--default-margin-left);
}

.firstCarousel {
  margin-top: -90px;
  margin-bottom: 40px;
}

.title {
  color: var(--text-primary-color);
  margin-bottom: 5px;
}

.contentDiv {
  margin-bottom: 40px;
}

.realityShowContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
}