.container {
  padding-left: 40px;
  padding-block: 20px;
}

.title {
  color: var(--text-primary-color);
  margin-bottom: 5px;
}

.contentDiv {
  margin-block: 30px;
}

.realityShowContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
}