.container {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.icon {
  color: #FFF;
}

.text {
  color: #FFF;
  text-decoration: underline;
  font-weight: 600;
  font-size: 24px;
  margin-left: 10px;
}