.container {
  padding: 55px 0px
}

.title {
  color: var(--text-primary-color);
}

.album {
  padding: 0px 60px;
  margin-bottom: 55px;
}

.carousel {
  padding-left: 60px;
}

.singleContainer {
  padding: 60px 55px;
}

.singleTitle {
  color: var(--text-primary-color);
  margin-bottom: 10px;
}

.image {
  height: 200px;
  width: 200px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.image:hover {
  height: 205px;
  width: 205px;
}