* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo Paaji 2", sans-serif;
}

[data-theme="dark"] {
  --background-color: #272727;
  --text-primary-color: #FFFFFF;
  --text-secondary-color: #1A1A1A;
  --accent-color: #FAFAFA;
}

[data-theme="light"] {
  --background-color: #FFFFFF;
  --text-primary-color: #1A1A1A;
  --text-secondary-color: #FFFFFF;
  --accent-color: #FAFAFA;
}

[view-mode="web"] {
  --default-margin-left: 40px;
  --footer-icons-align: flex-end;
  --about-image-height: 330px;
}

[view-mode="mobile"] {
  --default-margin-left: 20px;
  --footer-icons-align: flex-start;
  --about-image-height: 300px;
}
