* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo Paaji 2", sans-serif;
}

:root {
  --background-color: #272727;
  --text-color: #FFFFFF;
  --accent-color: #FAFAFA;
}

[data-theme="dark"] {
  --background-color: #272727;
  --text-color: #FFFFFF;
  --accent-color: #FAFAFA;
}

[data-theme="light"] {
  --background-color: #FFFFFF;
  --text-color: #1A1A1A;
  --accent-color: #FAFAFA;
}
