.button {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.icon {
  color: var(--text-primary-color);
  margin-right: 10px;
  font-size: 30px;
}

.text {
  color: var(--text-primary-color);
  font-weight: bold;
  font-size: 16px;
}

.text:hover {
  text-decoration: underline;
}