.textContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: var(--text-primary-color);
  z-index: 1;
}

.buttonLink {
  color: var(--text-primary-color);
  margin-right: 30px;
  font-weight: 500;
  z-index: 1;
}

.emblaViewport {
  overflow: hidden;
}

.emblaContainer {
  display: flex;
}

.emblaSlide {
  padding-right: 25px;
}